@CHARSET "UTF-8";

body{
	border-top: 5px solid #99b9dd;
	background-color: #FEFEFA;
}

#page{
	padding-left: 5%;
	padding-right: 5%;
	padding-top:10px;
}

ul#navigation li{
	display:inline;
	padding-right:0;
	margin-right:0;
	font-size:12px;
	font-family: "Open Sans";
}

ul#navigation li a:hover{
	text-decoration: none;
	color: #637992;
	border-bottom: 2px solid #637992;
}
ul#navigation .active-page{
	text-decoration: none;
	color: #637992;
	border-bottom: 2px solid #637992;
}

}
a, a:active, a:focus, a:visited {
	outline: none !important;
}
a {
	color: #99b9dd;
}

.gallery_nav {
	margin: 25px 0;
}

#items > section {
	margin: 15px 0;
}
#items > section a {
	display: block;
	position: relative;
}

/*Page Styles*/

::selection {
    color: white;
    background: #637992;
}

::-moz-selection {
    color: white;
    background: #637992;
}

#header{
	padding-top:5%;
	padding-bottom: 5px;
}

#header h1{
	font-family:"Palatino Linotype", Palatino, serif;
	font-size: 20px;
	font-weight: bold;
}

#header h2{
	font-family: "Palatino Linotype", Palatino, serif;
	font-size:15px;
	font-style: italic;
	font-weight: bold;
}

#typ-body p{
	padding-left: 0;
	padding-right: 0;
	padding-top:0;
	font-family:"Open Sans";
	font-size: 12px;
}

#typ-body h2{
	padding-left: 0;
	padding-right: 0;
	padding-top:0;
	font-family:"Open Sans";
	font-size: 15px;
	font-weight: bold;
}

.btn {
	border: 0.5 ;
	border-radius: 0;
	background-color: #FEFEFA;
	font-family: "Open Sans";
	font-size:12px;
}

/*
select{
	display:inline;
}*/

img {
  -webkit-transition: all 0,3s ease;
     -moz-transition: all 0,3s ease;
       -o-transition: all 0,3s ease;
      -ms-transition: all 0,3s ease;
          transition: all 0,3s ease;
}

img:hover{
/*	 -webkit-filter: opacity(0.3);*/
 	 -webkit-filter: ;

}

#footer{
	text-decoration: none;
	padding-bottom: 20px;
	color: #99b9dd;
	font-size:12px;
	font-family: "Open Sans";
}

#footer a:hover{
	text-decoration: none;
	padding-bottom: 20px;
	color: #99b9dd;
	font-size:12px;
	font-family: "Open Sans";
	font-weight: bold;
}


