@CHARSET "UTF-8";

/* COLOURS

#FEFEFA -- off-white
#99b9dd -- light blue
#637992 -- dark blue (99,121,146)

*/

/* Page Styles */

body{
	/*border-top: 5px solid #99b9dd;*/
	border-top: 5px solid #637992;
	/*background-color: #FEFEFA; /* baby power white */
	background-color: #FFFAFA; /* snow white*/
}

#page{
	padding-left: 5%;
	padding-right: 5%;
	padding-top:10px;
}

a, a:active, a:focus, a:visited {
	outline: none !important;
}
a {
	color: #99b9dd;
}

::selection { /* Text Selection Highlight Colour */
    color: white;
    background: #637992;
}

::-moz-selection {
    color: white;
    background: #637992;
}

/* Page Typography */

#typ-body{
	font-family:"Lato";

}

#typ-body li{
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	padding-top:0;
	font-size: 12px;
}

#typ-body p{
	font-size: 15px;
}


#typ-body span{
	padding-left: 0;
	padding-right: 0;
	top:0;
	font-size: 15px;
	font-weight: bold;
}

#typ-body h1{
	font-family:"Palatino Linotype", Palatino, serif;
	font-size: 20px;
	font-weight: bold;
}

#typ-body a{
	color: #637992;
}

#typ-body a:hover{
	text-decoration: none;
	color: #637992;
	border-bottom: 2px solid #637992;
}

/* Header */

#header{
	padding-top:5%;
	padding-bottom: 5px;
}

#header h1{
	font-family:"Palatino Linotype", Palatino, serif;
	font-size: 20px;
	font-weight: bold;
}

#header h2{
	font-family: "Palatino Linotype", Palatino, serif;
	font-size:16px;
	font-style: italic;
	font-weight: bold;
}

/* Navigation */

ul#navigation li{
	display:inline;
	padding-right:0;
	margin-right:0;
	font-size:12px;
	font-family: "Open Sans";
}

ul#navigation li a:hover{
	text-decoration: none;
	color: #637992;
	border-bottom: 2px solid #637992;
}
ul#navigation .active-page{
	text-decoration: none;
	color: #637992;
	border-bottom: 2px solid #637992;
}

/* Image Gallery */

.btn { /*Styling for Drop Down*/
	border: 0.5 ;
	border-radius: 0;
	background-color: #FEFEFA;
	font-family: "Open Sans";
	font-size:12px;
}

.gallery_nav {
	margin: 25px 0;
}

#items > section {
	margin: 15px 0;
}
#items > section a {
	display: block;
	position: relative;
}



#thumbnail-img img:hover{
/*	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);*/
    opacity:0.7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* Footer */

#footer{
	text-decoration: none;
	padding-bottom: 20px;
	color: #99b9dd;
	font-size:12px;
	font-family: "Open Sans";
}

#footer a:hover{
	text-decoration: none;
	padding-bottom: 20px;
	color: #637992;
	font-size:12px;
	font-family: "Open Sans";
}

