@CHARSET "UTF-8";

/* COLOURS

#FEFEFA -- off-white
#99b9dd -- light blue
#637992 -- dark blue (99,121,146)
#283645 -- true dark

*/

/* Page Styles */


body{
	/*border-top: 5px solid #99b9dd;*/
/*	border-top: 7px solid #637992;
*/	background-color: #FFFFFF; /* baby power white 
	/*background-color: #FFFAFA;*/ /* snow white*/
}

.navbar-fixed-top {
	padding-top: 15px;
	padding-right: 10%;
	padding-bottom: 4px;
	background-color: rgba(255,255,255,1);
	border-top: 7px solid #637992;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

#page{
	padding-left: 5%;
	padding-right: 5%;
	padding-top:10px;
}

a, a:active, a:focus, a:visited {
	outline: none !important;
}
a {
	color: #99b9dd;
}

::selection { /* Text Selection Highlight Colour */
    color: black;
    /*background: #283645;*/
    background: rgb(255,255,0);
}

::-moz-selection {
    color: black;
    /*background: #283645;*/
    background: rgb(255,255,0);   
}

#mobile-only { display:none; }

@media (max-width: 970px) {
  #mobile-only { display:block; }
}

@media (max-width: 970px) {
	.wide-only { display:none; }	
}

/* =========== Page Typography =========== */

/* Navigation */

ul#navigation li{
	display:inline;
	padding-right:0;
	margin-right:0;
	font-size:14px;
	font-family: "Cabin"; }
		ul#navigation li a:hover{
			text-decoration: none;
			color: #637992;
			border-bottom: 2px solid #637992;
		}
		ul#navigation .active-page{
			text-decoration: none;
			color: #637992;
			border-bottom: 2px solid #637992;
		}

/* Header */

@media (max-width: 790px) {
	.body-mobile{
		padding-top:10%;}
	}

@media (min-width: 750px) and (max-width: 1000px) {
	.body-mobile{
		padding-top:5%;}
	}

#header{
	padding-top:6%;
	padding-bottom: 5px; }
		#header h1{
			font-family:"Ubuntu";
			font-size: 22px;
		}

		#header h2{
			font-family: "Cabin";
			font-size:16px;
			font-style: italic;
			margin-top: 10px;
		}

		#header span:hover.designer{
			font-family: 'Montserrat', sans-serif;
			/*text-transform: uppercase;*/
   			border-bottom: 5px solid rgb(255,255,0);

		}
		#header span:hover.urbanist{
   			font-family: 'Fjalla One', sans-serif;
   			border-top: 5px solid rgb(255,255,0);
	    	text-transform: uppercase;
	    }
		#header span:hover.storyteller{
   			background: rgb(255,255,0);
   			font-family: 'Roboto Slab', serif;
		}


#typ-body{
	font-family:"Cabin"; }

		#typ-body p{
			font-size: 15px;
		}

		#typ-body h4{
			color: #637992;
			font-family:"Cabin";
			font-size: 18px;
		}

		#typ-body li{
			list-style-type: none;
			padding-left: 0;
			padding-right: 0;
			padding-top:0;
			font-size: 15px;
		}

		#typ-body span{
			padding-left: 0;
			padding-right: 0;
			top:0;
			font-size: 15px;
			font-weight: bold;
		}

		#typ-body a{
			color: #637992;
		}

		#typ-body a:hover{
			text-decoration: none;
			color: #637992;
			border-bottom: 2px solid #637992;
		}

/* Project Pages */

#project-title span {
	color: white;
	background-color: #637992;
	padding: 5px;
	font-family:"Ubuntu";
}

.project-info {
	padding-top: 10px;
	font-style: italic;
	font-size: 13px;
	font-family:"Cabin";
}
	.project-info a{
			color: #637992;
		}
	.project-info a:hover{
			text-decoration: none;
			color: #637992;
			border-bottom: 2px solid #637992;
		}

.project-subheading h4{ /*same as typ-body*/
	color: #637992;
	font-family:"Cabin";
	font-size: 18px;
/*	font-weight: bold;
*/}

.short-thick-hr {
	color: #637992;
	background-color: #637992;
	width: 25%;
	height: 3px;
}



/* Other Pages */


#mid-page{
	padding-top: 10%;
}

#icon-404 i{
	font-size:70px;
	color: #637992; }

		#icon-404 i:hover{
			opacity:0.8;
		}

#error-page h1{
	font-family:"Ubuntu";
}

/* Footer */

#footer a {
	text-decoration: none;
	padding-bottom: 20px;
	color: #637992;
	font-size:14px;
	font-family: "Cabin"; }

		#footer a:hover{
			text-decoration: none;
			padding-bottom: 20px;
			color: #283645;
		}

#social-icon i{
	font-size:18px;
}


/* =========== Image Gallery =========== */

#img-01 { display:block; }
#img-02 { display:none; }

@media (max-width: 768px) {
  #img-01 { display:none; }
  #img-02 { display:block; }
}



#txt-01 { display:block; }
#txt-02 { display:none; }

@media (max-width: 970px) {
  #txt-01 { display:none; }
  #txt-02 { display:block; }
}


.btn { /*Styling for Drop Down*/
	border: 0.5 ;
	border-radius: 0;
	font-family: "Cabin";
	font-size:12px;
}

.btn2 { /*Styling for 404 Button*/
	text-decoration: none;
	border-radius: 1;
	font-family: "Cabin";
	font-size:16px;
	color: white;
	background: #99b9dd ;  
	padding: 7px;
}

.btn2:hover { /*Styling for 404 Button*/
	text-decoration: none;
	border-radius: 1;
	font-family: "Cabin";
	font-size:16px;
	color: white;
	background: #637992 ;  
	padding: 7px;

}

.gallery_nav {
	margin: 25px 0;
}

#items > section {
	margin: 15px 0;
}
#items > section a {
	display: block;
	position: relative;
}

#thumbnail-img {
   position: relative; 
   width: 100%; /* for IE 6 */
}

#thumbnail-img h2{
   position: absolute; 
   top: -10px; 
   left: 5%; 
   width: 100%; 
/*   text-align: center;*/
   visibility: hidden;
   opacity: 0;
}

#thumbnail-img h2 span {
   color: black; 
 /*  font-family:"Lato";
   font-size: 14px;*/
   font: 300 14px/0.5 'Cabin', sans-serif;   
   background: rgba(255,255,0,1);
   padding: 5px; 
}

#thumbnail-img h2 span.spacer {
   padding:0 2px;
}

#gallery-block:hover h2{
	visibility: visible;
	opacity: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

#gallery-block:hover img{
	visibility: visible;
	opacity: 0.7;

	-webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);

	-webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-font-smoothing: antialiased;
	transform: scale(1.05)
}

/* Project Image Galleries */

.sm-img {
	padding-bottom: 30px;
}

.sm-img:hover {
	opacity: 0.5;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}

.lg-img {
	padding-bottom: 30px;
}

@media (min-width: 970px) {
 .profile-row {
    position: relative;
  }

 .bottom-align-text {
    position: absolute;
/*    padding-bottom:10px;
*/    bottom: 0;
    right: 0;
  }
}

/* Profile Page */

.bg-info {
/*	background: white;*/
	/*padding: 10px;*/
	padding-top:20px;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 0px;
}

.resume-icon img{
	opacity:0.8;
}

.resume-icon img:hover{
	opacity:1;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 0.3s;
	transform: scale(1.1)
}

.resume-icon a{
	text-decoration: none;
}

.resume-icon p{
	color: #637992;
}

