---
layout: default
title: Ideas / Perspectives
---

<div id="notes" class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1 col-xl-10 col-xl-offset-1">
		<ul align="center">

		{% for post in site.posts %}
	
		{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
		{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
		{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
		{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

		{% if forloop.first %}	
			<li><h2 class="article-year">{{ this_year }}</h2></li>
		{% endif %}

			<li>
				<span class="article-date">{{ post.date | date_to_long_string }}</span><br>
				<a href="{{ post.url }}" title="{{ post.title }}" class="article-name">{{ post.title }}</a><br>
				<span class="article-details">{{ post.details }}</span>
			</li><br>

		{% if this_year != next_year %}
			<li><h2 class="article-year">{{ next_year }}</h2></li>
		{% endif %}
		{% endfor %}


		</ul>
	</div>
</div>


       


 

