---
layout: default
title: Jamie Kwan | Experience Design & Strategy
---

<!-- HOME -->
	{% for text in page.color %}
	<section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" style="background: linear-gradient(135deg, {{page.color}})">
	{% endfor%}

	{% for text in page.bgimage %}
	<section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" data-background="assets/images/{{page.bgimage}}.jpg">
	{% endfor %}

		<div class="hs-caption container">
			<div class="caption-content">
			{% if page.logo_src %}
				<div class="pc-logo wow fadeInUp">
			{% if page.logo_href %}<a href="{{ page.logo_href }}" target="_blank" rel="noopener noreferrer">{% endif %}
				<img src="{{ page.logo_src }}" alt="{{ page.logo_alt }}">
			{% if page.logo_href %}</a>{% endif %}
				</div>
			{% endif %}
				<div class="hs-title-size-1 font-alt m-b-20 wow fadeInUp" style="text-transform:uppercase">
					{{ page.title }}
				</div>
				<div class="hs-title-size-3 font-alt wow fadeInUp" data-wow-delay="0.4s">
					{{ page.oneliner }}
					<br>
					<i class="fa fa-angle-down"></i>
				</div>
			</div>
		</div>

	</section >
	<!-- /HOME --> 


	<!-- WRAPPER -->
	<div class="wrapper">


<!-- DETAILS + STORY -->
<section class="module-small">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1 col-m-4 col-m-offset-1 col-xl-4 col-xl-offset-1" style="margin-bottom: 40px;">
      <div class="work-details pc-card">
        <h3 class="work-details-title font-alt pc-overview-title">Overview</h3>

        {% if page.time %}
          <div class="font-inc pc-subheader">Time</div>
          <div class="pc-body">
            {% for t in page.time %}<p style="margin-bottom: 10px;">{{ t }}</p>{% endfor %}
          </div>
        {% endif %}

        {% assign team_items = page.team | default: page.team_structure %}

        {% if page.role %}
          <div class="font-inc pc-subheader">Role</div>
          <div class="pc-body">
            {% for r in page.role %}<p style="margin-bottom: 10px;">{{ r }}</p>{% endfor %}
          </div>
        {% endif %}

        {% if team_items %}
          <div class="font-inc pc-subheader">Team</div>
          <div class="pc-body">
            {% for tm in team_items %}<p style="margin-bottom: 10px;">{{ tm }}</p>{% endfor %}
          </div>
        {% endif %}

        {% if page.co_designers %}
          <div class="font-inc pc-subheader">Co-Designers</div>
          <div class="pc-body">
            {% for cd in page.co_designers %}<p style="margin-bottom: 10px;">{{ cd }}</p>{% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-6 col-m-6 col-xl-6">
      {% if page.approach %}
        <h3 class="work-details-title font-alt">Approach</h3>
        <div class="p-b-10 pc-body">
          {{ page.approach }}
        </div>
      {% endif %}

      {% if page.impact %}
        <hr>
        <h3 class="work-details-title font-alt">Impact</h3>
        <div class="p-b-10 pc-body">
          {{ page.impact }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
</section>
<!-- /DETAILS + STORY -->


<!-- METHODOLOGIES -->
<section class="module-small">
    <div class="container">
      <div class="row">
      	<hr>
        <div class="col-sm-5 col-md-5 col-xl-5 col-sm-offset-1 col-md-offset-1 col-xl-offset-1 wow fadeIn">
          <h3 class="work-details-title font-alt">Navigating with Curiosity</h3>
          {% if page.methodology %}
            {% for paragraph in page.methodology %}
              {{ paragraph }}
            {% endfor %}
          {% endif %}
        </div>

        <div class="col-sm-5 col-md-5 col-xl-5 wow fadeIn">
          {% if page.methodology_image %}
            <div class="img-fluid">
              <img src="{{ page.methodology_image }}" alt="{{ page.methodology_image_alt }}">
            </div>
          {% endif %}
          {% if page.methodology_caption %}
            <p class="imageCaption" id="desktop-only">{{ page.methodology_caption }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
<!-- /METHODOLOGIES -->

<!-- PORTFOLIO CONTENT -->
<section>
	<div class="container">

		{% for text in page.videoPath %}
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 wow fadeIn">
				<div class="embed-responsive embed-responsive-16by9">
					<p align="center"><iframe src="https://player.vimeo.com/video/{{page.videoPath}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
				</div>
			</div>
		</div>
		<br>
		{% endfor %}
		
		{% for image in page.image-wide %}
		<div class="row">
			<div>
				<div class="col-sm-10 col-sm-offset-1 col-m-10 col-m-offset-1 col-xl-10 col-xl-offset-1 img-fluid wow fadeIn" data-wow-delay="0.2s">
					<p>
						<img src="{{ image.image_path }}" alt="{{ image.title }}">
					</p>
				</div>
			</div>	
		</div>
		{% endfor %}


		{% for image in page.images %}

			{% for text in image.body-text %}
			<br>
			<div class="row">

				<div class="col-sm-8 col-sm-offset-2 wow fadeIn" id="story">
					<h3 class="work-details-title font-alt">{{ image.body-heading }}</h3>
					<p>{{ image.body-text }}</p>
				</div>

			</div>
			<br>
			{% endfor %}

			{% for text in image.quote %}
				<div class="col-sm-6 col-sm-offset-3 wow fadeIn">
					<blockquote class="blockquote-2" id="story">
						<p>"{{ image.quote }}"</p>
						<footer class="blockquote-footer">{{ image.source }}</footer>
					</blockquote>
					<br>
				</div>
			<br>
			{% endfor %}

			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 img-fluid wow fadeIn" data-wow-delay="0.2s">
					<p>
						<img src="{{ image.image_path }}" alt="{{ image.title }}">
					</p>
				</div>
				{% for text in image.caption-right %}
					<div class="col-xs-2 col-sm-2 imageCaptionLine wow fadeInRight" data-wow-delay="0.1s" id="desktop-only">
						<p class="imageCaption">{{ image.caption-right }}</p>
					</div>
				{% endfor %}
			</div>


		{% endfor %}

	</div>

</section>
<!-- /PORTFOLIO CONTENT -->


<!-- KEY PROJECTS -->
  <section>
    <div class="container">
      <hr class="divider-w">
      {% if page.key_projects %}
          <div class="row wow fadeInUp" style="margin-bottom: 40px;">
            <div class="col-sm-10 col-md-10 col-xl-10 col-sm-offset-1 col-md-offset-1 col-xl-offset-1 pc-card">
                  {% for kp in page.key_projects %}
              <div class="row">
                <div class="col-sm-4 col-md-4 col-xl-4">
                  {% if kp.url %}
                    <a href="{{ kp.url }}"{% if kp.target_blank %} target="_blank" rel="noopener noreferrer"{% endif %}>
                  {% endif %}

                  {% if kp.thumbnail %}
                    <img src="{{ kp.thumbnail }}" alt="{{ kp.title }}" class="img-fluid" />
                  {% endif %}

                  {% if kp.url %}
                    </a>
                  {% endif %}
                </div>

                <div class="col-sm-8 col-md-8 col-xl-8" id="story">
                  {% if kp.title %}
                    <h4 class="work-details-title font-alt p-t-0">{{ kp.title }}</h4>
                  {% endif %}

                  {% if kp.exec_summary %}
                    <p>{{ kp.exec_summary }}</p>
                  {% endif %}

                  {% if kp.high_level_impact %}
                    <p><strong>High-level impact:</strong> {{ kp.high_level_impact }}</p>
                  {% endif %}

                  {% if kp.url %}
                    <p class="p-t-10">
                      <a href="{{ kp.url }}"{% if kp.target_blank %} target="_blank" rel="noopener noreferrer"{% endif %}>Read more</a>
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>
<!-- /KEY PROJECTS -->

<!-- INSIGHTS -->
<section>
	<div class="container">
		<hr class="divider-w">
      	<h3 class="work-details-title font-alt p-t-10 p-b-10">Insights</h3>
		<div class="row wow fadeInUp">

		</div>
	</div>
</section>
<!-- /INSIGHTS -->



<!-- DIVIDER -->
<hr class="divider-w" style="margin-top: 40px;">
<!-- /DIVIDER -->



<!-- PAGINATION -->
<section class="module-small p-t-50">

	<div class="container">
	
		<div class="pagination font-inc text-uppercase">
			<a href="http://jamiemkwan.com">Back to Home</a>			
		</div>
	
	</div>

</section>
<!-- /PAGINATION -->

<!-- DIVIDER -->
<hr class="divider-w">
<!-- /DIVIDER -->
