---
layout: default
---

<div id ="notes" class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2 col-xl-8 col-xl-offset-2">
		<div align=center>
			<span class="article-name">{{ page.title }}</span>
			<p class="meta text-muted"><i>{{ page.date | date_to_long_string }}</i></p>
			<br>
		</div>

		<div>
		  {{ content }}
		</div>
		<br>
	</div>
</div>

<div id ="typ-body" class="row">
	<div class="col-xs-6 col-md-4 col-md-offset-2 col-xl-4 col-xl-offset-2">
		<div><p><a href="/notes">&laquo; Back to Home</a></p></div>
	</div>

	<div class="col-xs-6 col-md-4 col-xl-4">
		<div  align=right class="PageNavigation">
		  {% if page.next.url %}
		    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
		  {% endif %}
		</div>
	</div>
</div>